<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>775819116015-9do5h4v6360tg5o9o78h8d1ll7j579t6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.775819116015-9do5h4v6360tg5o9o78h8d1ll7j579t6</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>775819116015-cc611h5feoha5l3gpnqne27rh1hdas6h.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDSfOzHWOvEZ2V9NusIYu9ICMk4YMCj--E</string>
	<key>GCM_SENDER_ID</key>
	<string>775819116015</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gofair.rider</string>
	<key>PROJECT_ID</key>
	<string>lao-taxi</string>
	<key>STORAGE_BUCKET</key>
	<string>lao-taxi.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:775819116015:ios:bca3e085e2b8e20458ca1a</string>
	<key>DATABASE_URL</key>
	<string>https://lao-taxi-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>
